extends ../layout

block content
    div.container.pt-5
        a(href='/bicicletas').float-right.btn.btn-primary Volver
        h1 Nueva Bicicleta
        br
        hr
        form(action='/bicicletas/create' method='post').form-container
            div.form-group
                label(for='id') ID:
                input#id(type='number' name='id' min='1' step='1' required='required').form-control
            div.form-group
                label(for='color') Color:
                input#color(type='text' name='color' required='required').form-control
            div.form-group
                label(for='modelo') Modelo:
                input#modelo(type='text' name='modelo' required='required').form-control
            div.form-group
                div.form-row
                    div.col-6
                        div.form-group
                            label(for='lat') Ubicacion (Latitud):
                            input#lat(type='number' name='lat' min='-34.9999999' max='-34.0000001' step='0.0000001' required='required').form-control
                            span.text-muted Ingrese latitudes entre -34.9999999 y -34.0000001
                    div.col-6
                        div.form-group
                            label(for='lng') Ubicacion (Longitud):
                            input#lng(type='number' name='lng' min='-58.9999999' max='-58.0000001' step='0.0000001' required='required').form-control
                            span.text-muted Ingrese longitudes entre -58.9999999 y -58.0000001
            div.form-group
                button.btn.btn-block.btn-lg.btn-dark(type='submit') Grabar Bicicleta
